<div class="footerPosition">
    <div class="footerSection">
        <div class="row gy-4">
            <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
                <div>
                    <h5>About Us</h5>
                    <div class="footerBody">
                        <p>We use world-class data and technology to publish independent reporting, rankings, journalism and
                            advice
                            that has earned the trust of our readers and users for nearly 90 years.</p>
                    </div>
                </div>
            </div>
            <div class="contactInfo col-md-4 d-flex flex-column justify-content-center align-items-center">
                <div>
                    <h5>Contact Info</h5>
                    <div class="footerBody">
                        <p> <span>
                            <i class="fas fa-map-marker-alt"></i>
                        </span>
                        Address : Maadi, Cairo</p>
                        <p> <span>
                            <i class="fa-solid fa-phone"></i>
                        </span>Phone : +02 145500124</p>
                        <p><span>
                            <i class="fa-solid fa-envelope"></i>
                        </span>News@Egy.com</p>
                    </div>
                    
                </div>
            </div>
            <div class="socialMedia col-md-4 d-flex flex-column justify-content-center align-items-center">
                <div>
                    <h5>Social Media</h5>
                    <div class="footerBody">
                        <div class="d-flex align-items-center">
                            <span><i class="fa-brands fa-facebook-f ps-0 p-3 fa-xl"></i></span>
                            <span><i class="fa-brands fa-twitter p-3 fa-xl"></i></span>
                            <span><i class="fa-brands fa-instagram p-3 fa-xl"></i></span>
                            <span><i class="fa-brands fa-linkedin p-3 fa-xl"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footerFooter d-flex justify-content-center align-items-center">
        <small class="mb-0">copyrights ©2023 All rights reserved | This website is made by <span>Al Hussien Mohamed</span></small>
    </div> 
</div>